.columns {
	display: flex;
	flex-flow: row wrap;
	margin: 5px 0;
  margin-left: 10%;
  margin-right: 10%; 
  text-align: center;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
  border-radius: 20px;
}
img{
  border-radius: 20px;
}
h6 {
  text-transform: uppercase;
}
span{
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    text-shadow: 0 0 100px rgba(122, 123, 123, 0.612);
    background: url(https://img.freepik.com/vector-gratis/fondo-rayado-abstracto-rayas-verticales-brillantes-diferentes-anchos-colores-azul-claro_444390-9577.jpg?w=2000) repeat-y;
    -webkit-background-clip: text;
    background-clip: text; 
  }
  
  
  
  
