html,body{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}
.container{
    width: auto;
    max-width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    overflow: hidden;
}
.container .cards{
    width: 275px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; 
    float: left;
}
.container .cards:hover{
    transform: translate(-15px);
    box-shadow: 012px 16px rgba(0, 0, 0,0.2);
}
.container .cards img{
    width: 330px;
    height: 220px;
}
